<%- include("../partial/header") -%>

<h1 class="ml-5 mb-3 mt-3 formstyle" style="font-size: 30px; font-weight: bold">
  Update Item
</h1>
<form class="" action="/update" method="post">
  <div class="form-group">
    <label class="ml-5 formstyle">Type : </label>
    <select name="type" class="form-control col-lg-3 mb-3 ml-5" required>
      <option>Select...</option>
      <option value="Fruit">Fruit</option>
      <option value="Vegetable">Vegetable</option>
      <!-- <option value="Drink">Drink</option> -->
      <option value="Dairy">Dairy</option>
      <!-- <option value="Snack">Snack</option>
            <option value="Item">Item</option> -->
    </select>

    <label class="ml-5 formstyle">Change Type : </label>
    <select name="name" class="form-control col-lg-3 mb-3 ml-5" required>
      <option>Select...</option>
      <option value="price">price</option>
      <option value="availability">availability</option>
    </select>

    <label class="ml-5 formstyle">Product Name : </label>
    <input
      class="form-control col-lg-3 ml-5 mb-3"
      type="text"
      autocomplete="off"
      name="currentname"
      required
    />
    <label class="ml-5 formstyle">Change : </label>
    <input
      class="form-control col-lg-3 ml-5 mb-3"
      type="text"
      name="newtext"
      required
    />
  </div>
  <button
    class="btn btn-primary btn-lg ml-5 mb-3 formstyle"
    type="submit"
    name="button"
  >
    Update
  </button>
</form>

<%- include("../partial/footer") -%>
